extends layout.pug

block content
	section.container
		h1.header= title
		article.item
			h2.welcome WELCOME #{user}
			br
			a.button.show(href="/logout") Cerrar sesión
		article.item
			form.form(method="post", action="/communities")
				div
					input(type="text", name="name", placeholder="Name", required)
				div
					input(type="text", name="description", placeholder="Description", required)
				div
					input(type="text", name="logo", placeholder="Logo", required)
				div
					input.button.add(type="submit", value="Agregar")
				a.button.show(href="/") Inicio