extends layout.pug

block content
    section.contenedor
        section.container
            h1.header register to valoop
            if (message)
                div.error= message
            article.item
                form.form(method="post", action="/signin")       
                    div
                        input(type="text", name="email", placeholder="Email", required)
                    div
                        input(type="text", name="nick", placeholder="Nick", required)
                    div
                        input(type="text", name="name", placeholder="Name", required)
                    div
                        input(type="text", name="last_name", placeholder="Last name", required)
                    div
                        input(type="password", name="password", placeholder="Password", required)
                    div
                        input.button.add(type="submit", value="Register")

        section.container.num2
            h1.header LOGIN TO VALOOP
            article.item
                form.form(method="post", action="/login")       
                    div
                        input(type="text", name="email", placeholder="Email", required)
                    div
                        input(type="password", name="password", placeholder="Password", required)
                    div
                        input.button.add(type="submit", value="LOGIN")